<li>
  <h2>
    <%= match.home_team %>
    vs.
    <%= match.away_team %>
  </h2>
  <div class="date">
    <%= l match.playtime %>
  </div>
  <div class="actions">
    <% unless match.status == :finished %>
    <%= link_to 'Editar', edit_match_path(match) %>
    <% end %>

    <% if match.status == :ready %>
    <%= link_to 'Borrar', match_path(match),
        method: :delete, data: {
          confirm: 'Esto borrará el partido y toda la información asociada'
        } %>
    <% end %>
  </div>
</li>
