<table>
  <thead>
    <tr>
      <th></th>
      <th>Resultado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="home">
      <td><%= match.home_team %></td>
      <td><%= match.home_team_score || '-' %></td>
      <td rowspan="2">
        <%= link_to 'Editar', edit_match_path(match) %>
        <% if match.status == :ready %>
        <%= link_to 'Borrar', match_path(match),
            method: :delete, data: {
              confirm: 'Esto borrará el partido y toda la información asociada'
            } %>
        <% end %>
      </td>
    </tr>
    <tr class="away">
      <td><%= match.away_team %></td>
      <td><%= match.away_team_score || '-' %></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3"><%= l match.playtime %></th>
    </tr>
  </tfoot>
</table>
