<h1>
  <%= @pagy.count %>
  <%= t 'activerecord.models.match', count: @pagy.count %>
</h1>

<%= link_to 'Crear Partido', new_match_path %>

<% if @matches.any? %>
<ul>
  <%= render @matches %>
</ul>

<%== pagy_nav(@pagy) %>
<% else %>
  <h2>No hay partidos aún</h2>
<% end %>
